body {
    color: $deep-dark;
    font: normal 125% / 1.4 $text-font-stack;
    background-color: #D7D7D7;
}

.refund::before{
  content: "";
  background-image: url(/assets/icons/return.svg);
}

.f10{
  font-size: 10px;
}

.f14{
  font-size: 14px;
}

.f12{
  font-size: 12px;
}
.f24{
  font-size: 24px;
}

.grey{
  color: $grey;
}

.heading3{
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: $deep-dark;
  margin: 0;
}

.flex{
  display: flex;
}

.flex-align-center{
  display: flex;
  align-items: center;
}

.flex-center{
  display: flex;
  justify-content: center;
}

.flex1{
  flex: 1;
}

.flex-wrap{
  flex-wrap: wrap;
}
