// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;


/// Copy text color
/// @type Color
$deep-dark: #202123 !default;

/// Dark grey
/// @type Color
$dark: #202123 !default;

/// grey
/// @type Color
$grey: #707276 !default;

/// Main brand color
/// @type Color
$brand-color: #55BB06 !default;


/// @type Color
$warning: #FF9900 !default;

/// @type Color
$red: #FF3724 !default;

/// @type Color
$blue: #5763B3;

/// @type Color
$light-blue: #EAF0FA;

/// @type Color
$button-blue: #7284E4 !default;

/// @type Color
$background-light: #F5F5F5 !default;

/// @type Color
$light-grey: #B9B9B9 !default;

/// @type Color
$light-background: #EBEBEB !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

