<template>
  <div class="avia-option">
    <h3 class="heading3 title">Авиакомпании</h3>
    <Checkbox
      @click=" filter = value;  "
      v-for="(value, index) in avia"
      :key="index" :name="index"
      :label="value" />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import Checkbox from '../common/Checkbox.vue';

@Options({
  props: {
    label: String,
    className: String,
    avia: Object,
  },
  components: {
    Checkbox,
  },
})
export default class AviaOption extends Vue {
  avia!: [];
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.title{
  margin: 0 12px 22px 12px;
}
.avia-option{
  background-color: $background-light;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 12px;
  padding: 12px 0;
  text-align: left;
}
</style>
