<template>
  <article class="flight-list">
    <section class="flight-list__item" v-for="(value, key) in result.flights" :key="key">
      <div class="flight-list__item__itineraries">
        <div class="flex flex-align-center flex1 flex-wrap">
          <div class="avialogo">
            <img class="avialogo__img" :src=" 'https://aviata.kz/static/airline-logos/80x80/' + value.validating_carrier + '.png' " alt="логотоп авикомпании">
            <span class="avialogo__name">{{result.airlines[value.validating_carrier]}}</span>
          </div>
          <div class="flex">
            <div class="time">
              <span class="f12">
                {{ value.itineraries[0][0].dep_date.split(/[\/\s]/)[2] }}
                {{ getMonthString(value.itineraries[0][0].dep_date)}},
                {{ getWeekDay(value.itineraries[0][0].dep_date) }}
              </span>
              <span class="clock"> {{ value.itineraries[0][0].dep_date.split(/[\/\s]/)[3] }} </span>
            </div>
            <div class="path">
              <div class="path__labels">
                <span class="origin_code">
                  {{ value.itineraries[0][0].segments[0].origin_code }}
                </span>
                <span class="best_time f12">
                  {{  getFullTime(value.itineraries[0][0].traveltime ) }}
                </span>
                <span class="dest_code">
                  {{  value.itineraries[0][0].segments[0].dest_code }}
                </span>
              </div>
            </div>
            <div class="time">
              <span class="f12">
                {{ value.itineraries[0][0].arr_date.split(/[\/\s]/)[2] }}
                {{ getMonthString(value.itineraries[0][0].arr_date)}},
                {{ getWeekDay(value.itineraries[0][0].arr_date) }}
              </span>
              <span class="clock"> {{ value.itineraries[0][0].arr_date.split(/[\/\s]/)[3] }} </span>
            </div>
          </div>
        </div>
        <div class="flight-list__item__itineraries__details">
          <Link  label="Детали перелета"/>
          <Link label="Условия тарифа"/>
          <span v-if="!value.refundable" class="f12 grey refund">
             невозвратный
          </span>
        </div>
      </div>
      <div class="bg-light flight-list__item__action">
        <span class="price"> {{value.price}} {{ getCurrencySymbol(value.currency) }} </span>
        <Button className="button primary" label="Выбрать" />
        <span class="f14 grey">Цена за всех пассажиров </span>
        <div class="baggage">
          <span class="f12 grey">Нет багажа</span>
          <Button className="button secondary"  label="+ Добавить багаж"/>
        </div>

      </div>
    </section>
  </article>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import Button from '../common/Button.vue';
import Link from '../common/Link.vue';
// import RefundIcon from '../icons/';

const month = ['янв', 'фев', 'мар', 'апр', 'май', 'июн', 'июл', 'авг', 'сен', 'окт', 'ноя', 'дек'];
const weekday = ['пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс'];
const currencySymbol = { KZT: '₸' };
@Options({
  props: {
    result: String,
  },
  data: () => ({
    month,
  }),
  components: {
    Button,
    Link,
  },
  methods: {
    getWeekDay: (data:string) => {
      const date = new Date(data);
      return weekday[date.getDay()];
    },
    getFullTime: (seconds:number) => {
      const time = new Date(seconds * 1000).toISOString().substr(11, 8);
      const time2 = time.replace(':', ' ч ').substr(0, 7);
      return `${time2} м`;
    },
    getMonthString: (data:string) => {
      const date = new Date(data);
      return month[date.getMonth()];
    },
    getCurrencySymbol: (currency:'KZT') => {
      const symbol = currencySymbol[currency];
      return symbol;
    },
  },
})

export default class FlightList extends Vue {
  result!: string;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .flight-list{
    flex: 1 1 880px;
    &__item{
      background-color: #fff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      margin-bottom: 12px;
      display: flex;
      &__itineraries{
        padding: 12px 20px 18px 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        &__details{
          .link{
            margin-right: 23px;
          }
        }
      }
      &__action{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .button{
          margin-bottom: 8px;
        }
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .flex-center{
    display: flex;
    justify-content: center;
  }
  .baggage{
    margin-top: 15px;
    display: flex;
    span{
      margin-right: 14px;
    }
  }
  .bg-light{
    background-color: #F5F5F5;
    padding: 12px 20px 18px 20px;
  }
  .avialogo{
    display: flex;
    align-items: center;
    margin-right: 12px;
    &__name{
      color: $deep-dark;
      font-weight: 600;
      font-size: 14px;
      width: 100px;
      overflow: hidden;
      line-height: 19.07px;
    }
    &__img{
      height: 20px;
      background-size: contain;
      padding-right: 11.79px;
    }
  }
  .path{
    flex: 1;
    padding: 0 27px;
    &__labels{
      display: flex;
      border-bottom: 1px solid $light-grey;
      span{
        position: relative;
      }
      .origin_code{
        padding-right: 44px;
        &::before{
          content: "";
          position: absolute;
          width: 5px;
          height: 5px;
          top: 13.4px;
          left: 0;
          border-radius: 50%;
          border: 1px solid $light-grey;
          background-color: #fff;
        }
      }
      .best_time{
        padding-right: 44px;
        &::before{
          content: "";
          position: absolute;
          width: 5px;
          height: 5px;
          top: 17px;
          left: calc(50% - 22px);
          transform: translate(-50%,-50%);
          border-radius: 50%;
          border: 1px solid $light-grey;
          background-color: #fff;
        }
      }
      .dest_code::before{
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        top: 13.4px;
        right: 0;
        border-radius: 50%;
        border: 1px solid $light-grey;
        background-color: #fff;
      }
    }
  }
  .dest_code{
    color: $light-grey;
    font-size: 10px;
  }
  .origin_code{
    font-size: 10px;
    color: $light-grey;
  }

  .time{
    text-align: center;
    span{
      display: block;
      margin-bottom: -4px;
    }
    .clock{
      font-size: 24px;
    }
  }

  .price{
    display: block;
    font-size: 24px;
    text-align: center;
    margin-bottom: 8px;
  }

</style>
