<template>
  <div class="tariff-option">
    <h3 class="heading3 title">Опции тарифа</h3>
    <Checkbox label="Только прямые" name="direct" />
    <Checkbox label="Только с багажом" name="withBaggage" />
    <Checkbox label="Только возвратные" name="refundable" />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import Checkbox from '../common/Checkbox.vue';

@Options({
  props: {
    label: String,
    className: String,
  },
  components: {
    Checkbox,
  },
})
export default class TariffOption extends Vue {

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.title{
  margin: 0 12px 22px 12px;
}
.tariff-option{
  background-color: $background-light;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 12px;
  text-align: left;
  padding: 12px 0;
}
</style>
