<template>
  <main class="main">
      <aside class="aside">
      <AviaOption :avia="result.airlines" />
      <TariffOption />
      <div class="flex-center">
        <Link className="filterReset"  label="Сбросить все фильтры"/>
      </div>
    </aside>
  <FlightList :result="result" />
  </main>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import result from '@/assets/result.json';
import FlightList from './components/FlightList.vue';
import AviaOption from './components/AviaOption.vue';
import TariffOption from './components/TariffOption.vue';
import Link from './common/Link.vue';

@Options({
  components: {
    FlightList,
    AviaOption,
    TariffOption,
    Link,
  },
  data: () => ({
    result,
  }),
})
export default class App extends Vue {}
</script>

<style lang="scss">
.aside{
  flex: 1 1 240px;
  margin-right: 20px;
  text-align: center;
}
.main{
  max-width: 1140px;
  margin: 25px auto;
  display: flex;
  align-items: top;
  flex-wrap: wrap;
}
.filterReset{
  margin-bottom: 20px;
}
</style>
