<template>
  <button :class="className">
    {{label}}
  </button>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
  props: {
    label: String,
    className: String,
  },
})
export default class Button extends Vue {

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.button{
    cursor: pointer;
    border: none;
    text-align: center;
    display: block;
    &.primary{
      transition: background-color 0.3s easy-out;
      font-weight: bold;
      line-height: 25px;
      width: 175px;
      border-radius: 4px;
      font-size: 18px;
      padding: 8px 12.5px;
      background-color: $brand-color;
      color: #FFFFFF;
      &:hover{
        background-color: darken($brand-color, 10%);
      }
    }
    &.secondary{
      border-radius: 2px;
      color: $blue;
      font-size: 12px;
      padding: 3px 8px;
      background-color: $light-blue;
            &:hover{
        background-color: darken($light-blue, 10%);
      }
    }
}
</style>
