<template>
<div class="checkbox-container">
  <input style="display: none;" :id="'checkbox- ' + name" :name="name" type="checkbox" checked>
  <label class="checkbox" :for="'checkbox- ' + name">{{ label }}</label>
</div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
  props: {
    label: String,
    className: String,
    name: String,
  },
})
export default class Button extends Vue {

}
</script>

<style scoped lang="scss">

.checkbox-container{
  display: block;
  align-items: center;
}

.checkbox{
  color: $deep-dark;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
  padding: 10px 12px;
  display: block;
}

.checkbox:hover{
  background-color: $light-background;
}

.checkbox::before{
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 21 21"><path d="M19,5V19H5V5H19m0-2H5A2.006,2.006,0,0,0,3,5V19a2.006,2.006,0,0,0,2,2H19a2.006,2.006,0,0,0,2-2V5A2.006,2.006,0,0,0,19,3Z" fill="rgba(185, 185, 185, 1)"/><path d="M0,0H24V24H0Z" fill="none"/></svg>');
  padding-right: 12px;
  line-height: 0;

}

.checkbox:active::before{
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 21 21"><path d="M0,0H24V24H0Z" fill="none"/><path d="M19,3H5A2,2,0,0,0,3,5V19a2,2,0,0,0,2,2H19a2,2,0,0,0,2-2V5A2,2,0,0,0,19,3ZM10,17,5,12l1.41-1.41L10,14.17l7.59-7.59L19,8Z" fill="rgba(85, 187, 6, 1)"/></svg>');
}

input[type="checkbox"]:checked + .checkbox::before{
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 21 21"><path d="M0,0H24V24H0Z" fill="none"/><path d="M19,3H5A2,2,0,0,0,3,5V19a2,2,0,0,0,2,2H19a2,2,0,0,0,2-2V5A2,2,0,0,0,19,3ZM10,17,5,12l1.41-1.41L10,14.17l7.59-7.59L19,8Z" fill="rgba(85, 187, 6, 1)"/></svg>');
}

input[type="checkbox"]:checked + .checkbox:active::before{
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 21 21"><path d="M0,0H24V24H0Z" fill="none"/><path d="M19,3H5A2,2,0,0,0,3,5V19a2,2,0,0,0,2,2H19a2,2,0,0,0,2-2V5A2,2,0,0,0,19,3ZM10,17,5,12l1.41-1.41L10,14.17l7.59-7.59L19,8Z" fill="rgba(85, 187, 6, 1)"/></svg>');
}

.checkbox:after{
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  height: 12px;
  width: 12px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
  will-change: transform;
  transition: .3s ease-in-out;
  transform: scale(0);
}

.checkbox:hover::after{
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 21 21"><path d="M0,0H24V24H0Z" fill="none"/><path d="M19,3H5A2,2,0,0,0,3,5V19a2,2,0,0,0,2,2H19a2,2,0,0,0,2-2V5A2,2,0,0,0,19,3ZM10,17,5,12l1.41-1.41L10,14.17l7.59-7.59L19,8Z" fill="rgba(85, 187, 6, 1)"/></svg>');
}
</style>
