<template>
  <a :class="['link ' + className]" :href="link">
    {{label}}
  </a>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
  props: {
    label: String,
    href: String,
    className: String,
  },
})
export default class Link extends Vue {
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .link{
    color: $button-blue;
    padding-bottom: 2px;
    border-bottom: 1px dashed $button-blue;
    font-size: 12px;
    cursor: pointer;
  }
    .link:hover{
    color: darken($button-blue, 10%);
  }

</style>
